---
import Layout from '../layouts/Layout.astro';
---
<Layout>
    <!---------welcomen-sec--------->
    <section class="welcome_section hme-one" style="background:url(https://res.cloudinary.com/daoju0r3c/image/upload/v1755376617/Group_3_uxxcl9.png)">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="welcme_inner">
                        <div class="heading clearfix">
                            <h1>WELCOME TO <span>NAIVAIDYA</span><br>Where Health Feels Like<span> Home</span></h1>
                        </div>
                        <h6>At Naivaidya, we combine compassionate, personalized care <br>with clinical expertise to help you move better, recover faster,<br> and live pain-free. From physiotherapy and women's health<br> to geriatric support, our treatments are designed to restore<br> mobility and improve quality of life.</h6> 
                        
                            <p style="font-style: italic; margin-bottom: 25px;">"Experience holistic healthcare built on trust, empathy, and excellence <br> because at Naivaidya, health feels like home."</p>
                        
                        <a href="/contactus" class="theme-btn">GET IN TOUCH</a>
                    </div>
                </div>
                <div class="col-lg-6">
                </div>
            </div>
        </div>
    </section>
    <!---------/welcomen-sec--------->

    <div class="department_with_sidebar" style="padding-top: 10px; padding-bottom: 50px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="departmet_sidebar_right">
                        <div class="head_of_dp">
                            <div class="head_content">
                                
                                <div class="docto_name">
                                    <h2>Dr. Saurabh Jain</h2>
                                    <p>Consultant Physician | MBBS, DNB (Medicine), PG Diabetology (Boston),<br> PGD Endocrinology (RCP, UK)</p>
                                </div>
                                <p style="text-align: justify;">With over 15 years of experience, Dr. Saurabh Jain specializes in Internal Medicine,<br> with special interest in Diabetes and Cardiac care. He consults at Naivaidya Healthcare<br> and is affiliated with Breach Candy, Sir HN Reliance Foundation, Jaslok, and Cumballa <br>Hill Hospital.
                                    <br>A former physician with the Indian Air Force and Railways, he holds advanced<br> certifications from Boston University and RCP, UK. He is an active member of IMA, API,<br> ASE, and the Jain Doctors Association, and regularly contributes to medical conferences <br> and research.</p>
                                
                                <!-- <a href="#">VIEW FULL PROFILE</a> -->
                            </div>
                            <div class="head_image text-right">
                                <img src="https://res.cloudinary.com/daoju0r3c/image/upload/v1755413711/image_8_yxmdqc.png" class="img-fluid" alt="img" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="department_with_sidebar" style="padding-top: 10px; padding-bottom: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="departmet_sidebar_right">
                    <div class="head_of_dp d-flex align-items-start">
                        
                        <!-- Image on the left now -->
                        <div class="head_image text-left">
                            <img src="https://res.cloudinary.com/daoju0r3c/image/upload/v1755415174/image_9_c9eqik.png" 
                                 class="img-fluid" alt="img" />
                        </div>
                        
                        <!-- Text on the right now -->
                        <div class="head_content pl-3">
                            <div class="docto_name">
                                <h2>Dr. Zimpu Mehta Jain</h2>
                                <p>Consulting Obstetrician & Gynaecologist | MBBS, DGO, FCPS, DNB</p>
                            </div>
                            <p>
                                Dr. Zimpu Mehta Jain is a highly experienced obstetrician and gynaecologist,<br>
                                specializing in infertility management and advanced laparoscopic surgeries.<br>
                                She completed her MBBS from K.J. Somaiya Medical College, followed by DGO, <br>
                                FCPS, and DNB from Seth G.S. Medical College & K.E.M. Hospital, Mumbai. She <br>
                                has undergone specialized laparoscopic training under Dr. Hafeez Rehman at <br>
                                Sunrise Hospital, Kochi, and has worked in the Department of Gynaecology at <br>
                                Tata Memorial Hospital. Dr. Jain is a life member of FOGSI, IAGE, and the <br>
                                Jain Doctors Association.
                            </p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</Layout>
