---
import Layout from '../layouts/Layout.astro';
---
<Layout>

    <div class="faq_s" style="padding-top: 20px; padding-bottom: 50px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 ">
                    <div class="heading">
                        <h1>FAQ's</h1>
                    </div>
                    <div class="accordion" id="faq-accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    What services does Naivaidya Clinic offer? <i class="flaticon-plus main n-active"></i> <i class="flaticon-minus main active-min"></i>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse show fade" aria-labelledby="headingOne" data-parent="#faq-accordion">
                                <div class="card-body">
                                    We provide physiotherapy, women's health care, geriatric support, diagnostics (X-ray, ECG, 2D echo, sonography, pathology), IV infusion therapy, vaccinations, drugless therapies, and personalized nutrition plans all under one roof.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Do I need an appointment or can I walk in? <i class="flaticon-plus main n-active "></i> <i class="flaticon-minus main active-min"></i>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse fade" aria-labelledby="headingTwo" data-parent="#faq-accordion">
                                <div class="card-body">
                                    Walk-ins are welcome for most services, but we recommend booking an appointment for consultations, diagnostics, and therapies to minimize waiting time.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    What are your clinic timings? <i class="flaticon-plus main n-active"></i> <i class="flaticon-minus main active-min"></i>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse fade" aria-labelledby="headingThree" data-parent="#faq-accordion">
                                <div class="card-body">
                                   Our clinic is open from Monday to Friday from 9:00 am to 8:00 pm. Emergency care may be available on request.    
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingFour">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Do you accept health insurance? <i class="flaticon-plus main n-active"></i> <i class="flaticon-minus main active-min"></i>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseFour" class="collapse fade" aria-labelledby="headingFour" data-parent="#faq-accordion">
                                <div class="card-body">
                                    No
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingFive">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    What diagnostic tests do you provide? <i class="flaticon-plus main n-active"></i> <i class="flaticon-minus main active-min"></i>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseFive" class="collapse fade" aria-labelledby="headingFive" data-parent="#faq-accordion">
                                <div class="card-body">
                                    We offer digital X-rays, ECG, sonography, 2D echo, pathology tests, stress tests, and PFTs with accurate, high-quality reporting.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingSix">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    How long does it take to get my test results?<i class="flaticon-plus main n-active"></i> <i class="flaticon-minus main active-min"></i>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseSix" class="collapse fade" aria-labelledby="headingSix" data-parent="#faq-accordion">
                                <div class="card-body">
                                    Basic tests are available on the same day, while advanced tests may take 24–48 hours depending on the type of investigation.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingSeven">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                    What is IV infusion therapy and how does it work? <i class="flaticon-plus main n-active"></i> <i class="flaticon-minus main active-min"></i>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseSeven" class="collapse fade" aria-labelledby="headingSeven" data-parent="#faq-accordion">
                                <div class="card-body">
                                    IV therapy delivers vitamins, minerals, and fluids directly into your bloodstream for faster absorption and hydration.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingEight">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                    Is IV therapy safe for everyone? <i class="flaticon-plus main n-active"></i> <i class="flaticon-minus main active-min"></i>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseEight" class="collapse fade" aria-labelledby="headingEight" data-parent="#faq-accordion">
                                <div class="card-body">
                                    IVs are generally safe but require a consultation to assess medical history, allergies, and suitability for specific drips.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingNine">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                    How long does an IV session take? <i class="flaticon-plus main n-active"></i> <i class="flaticon-minus main active-min"></i>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseNine" class="collapse fade" aria-labelledby="headingNine" data-parent="#faq-accordion">
                                <div class="card-body">
                                    Most sessions last between 30–60 minutes, depending on the type of infusion.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTen">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                    Do you offer physiotherapy for sports injuries and post-surgery recovery? <i class="flaticon-plus main n-active"></i> <i class="flaticon-minus main active-min"></i>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTen" class="collapse fade" aria-labelledby="headingTen" data-parent="#faq-accordion">
                                <div class="card-body">
                                    Yes, our physiotherapy programs are designed for injury rehabilitation, post-operative recovery, and improving mobility.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingEleven">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                                    What are drugless therapies? <i class="flaticon-plus main n-active"></i> <i class="flaticon-minus main active-min"></i>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseEleven" class="collapse fade" aria-labelledby="headingEleven" data-parent="#faq-accordion">
                                <div class="card-body">
                                    These are natural, non-invasive treatments aimed at healing and pain relief without the use of medications.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwelve">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                                    What gynecological services do you offer? <i class="flaticon-plus main n-active"></i> <i class="flaticon-minus main active-min"></i>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwelve" class="collapse fade" aria-labelledby="headingTwelve" data-parent="#faq-accordion">
                                <div class="card-body">
                                    We provide consultations, preventive screenings, prenatal and postnatal care, hormonal balance support, and women-specific physiotherapy.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThirteen">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                                    Do you offer fertility and pregnancy-related guidance? <i class="flaticon-plus main n-active"></i> <i class="flaticon-minus main active-min"></i>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThirteen" class="collapse fade" aria-labelledby="headingThirteen" data-parent="#faq-accordion">
                                <div class="card-body">
                                    Yes, our gynecology and wellness team offers counseling and diagnostic support for conception planning and pregnancy care.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingFourteen">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
                                    Is my information kept confidential? <i class="flaticon-plus main n-active"></i> <i class="flaticon-minus main active-min"></i>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseFourteen" class="collapse fade" aria-labelledby="headingFourteen" data-parent="#faq-accordion">
                                <div class="card-body">
                                    Absolutely. All patient records and discussions are kept private and handled with the highest level of confidentiality.
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-lg-12 text-center pagination_column">
                    <ul class="pagination">
                        <li class="disabled"><a href="#"><span class="fa fa-angle-left"></span></a></li>
                        <li class="active"><a href="#">01 </a></li>
                        <li><a href="#">02</a></li>
                        <li><a href="#">03</a></li>
                        <li><a href="#">04</a></li>
                        <li><a href="#">05</a></li>
                        <li><a href="#"><span class="fa fa-angle-right"></span></a></li>
                    </ul>
                </div>
            </div> -->
        </div>
    </div>
</Layout>
